@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body {
  background-color: #222;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0.04em;
  font-weight: 400em;
}
